<div style="border-radius:25px;">
    <div>
        <div style="display: inline-flex; margin-bottom:100px; margin-top:20px;">
            <img style="width: 150px; height:150px;" src="~/Assets/scary-monster.png" />
            <h1 style="font-size:130px; margin-left: 15px;">Toy Land API</h1>
        </div>
        <div class="container" style="background-color:whitesmoke; border-radius: 25px;">
            <h1 style="margin-bottom:35px">See some other projects</h1>
            <ul style="display: flex">
                <li style="margin-left: 125px;">
                    <h5>My Github Repositories</h5>
                    <a href="https://github.com/AaronCrvl?tab=repositories">
                        <img style="height: 200px; height:200px;" src="~/Assets/github-mark.png" />
                    </a>
                </li>
                <li style="margin-left: 125px">
                    <h5>Toy Land Web</h5>
                    <a href="https://github.com/AaronCrvl/toy-land-web">
                        <img style="height: 200px; height:200px;" src="~/Assets/scary-monster-yellow.png" />
                    </a>
                </li>
                <li style="margin-left: 125px">
                    <h5>Toy Land Chatbot</h5>
                    <a href="https://github.com/AaronCrvl/toy-land-chatbot">
                        <img style="height: 200px; height:200px;" src="~/Assets/scary-monster.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>